<section id="modal">
  <div id="card">
    <div id="head">
      <h2>Confirmation</h2>
      <a id="close" href="/"><i class="bi bi-x"></i> </a>
    </div>
    <hr />
    <p>
      Do you like to delete this task:
      <strong><%= taskDelete.task%>?</strong>
    </p>
    <div id="btns">
      <a id="cancelBTN" href="/">Cancel</a>
      <a id="confirmBTN" href="/deleteOne/<%= task._id%>">Confirm</a>
    </div>
  </div>
</section>